@import url('https://fonts.googleapis.com/css?family=Ubuntu:700|Poppins:400,500,700');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}
body {
	padding-top: 115.59px;
}


.navbar {
	padding: .8rem;
}
.nav-logo {
	height: 80px;
}
.navbar-nav li {
	padding-right: 20px;
}
.nav-link {
	font-size: 1.1em !important;
}
.active{
	font-weight: bold;
}
.carousel-item {
	width: 100%;
	max-height: 550px;
	overflow: hidden;
}
.carousel-item img {
	width: 100%;
}
.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.carousel-caption h1 {
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
	height: 50px;
	width: 50px;
}
.btn-primary {
	background-color: #2daa87;
	border: 1px solid #2daa87;
	transition-duration: 0.5s;
}
.btn-primary:hover {
	background-color: #278067;
	border: 1px solid #278067;
}
.padding {
	padding-bottom: 2rem;
}
.card {
	height: 100%;
}
.welcome {
	width: 70%;
	margin: 0 auto;
	padding-top: 2rem;
}
.welcome hr {
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}
.message-box {
	height: 200px
}
.map {
	position: relative;
	padding-bottom: 100%;
	height: 0;
	overflow: hidden;
}
.map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}
.show-btn {
	background-color: #2daa87;
	color: #fff;
	width: 100%;;
	margin-bottom: 2rem;
}
.show-btn:hover {
	background-color: #278067;
	color: #fff;
}
.social a {
	font-size: 4.5em;
	padding: 3rem;
}
.fa-facebook {
	color: #3b5998;
}
.fa-twitter {
	color: #00aced;
}
.fa-google-plus-g {
	color: #dd4b39;
}
.fa-instagram {
	color: #517fa4;
}
.fa-youtube {
	color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
	color: #d5d5d5;
}
footer {
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}
.footer-logo {
	height: 60px;
}
hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}
footer a {
	color: #d5d5d5;
}
hr.light-100 {
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}




/* Large Laptops/Desktops */
@media (min-width: 993px) {

}

/* Laptops/Desktops */
@media (max-width: 992px) {
	.social a {
		font-size: 4em;
		padding: 2rem;
	}
	.carousel-caption {
		top: 50%;
	}
	.carousel-caption h1 {
		font-size: 250%;
	}
	.carousel-caption h3 {
		font-size: 110%;
		font-weight: 400;
		padding-bottom: .2rem;
	}
	.carousel-caption .btn {
		font-size: 90%;
		padding: 4px 8px;
	}
	.carousel-indicators {
		display: none;
	}
}

/* Tablets*/
@media (max-width: 768px) {
	.carousel-caption {
		top: 50%;
	}
	.carousel-caption h1 {
		font-size: 350%;
	}
	.carousel-caption h3 {
		font-size: 140%;
		font-weight: 400;
		padding-bottom: .2rem;
	}
	.carousel-caption .btn {
		font-size: 95%;
		padding: 8px 14px;
	}
	.display-4 {
		font-size: 200%;
	}
	.social a {
		font-size: 2.5em;
		padding: 1.2rem;
	}
	.vision-left {
		order: 13;
	}
	
}

/* Mobile */
@media (max-width: 576px) {
	.carousel-caption {
		top: 40%;
	}
	.carousel-caption h1 {
		font-size: 250%;
	}
	.carousel-caption h3 {
		font-size: 110%;
		font-weight: 400;
		padding-bottom: .2rem;
	}
	.carousel-caption .btn {
		font-size: 90%;
		padding: 4px 8px;
	}
	.carousel-indicators {
		display: none;
	}
	.carousel-control-prev {
		display: none;
	}
	.carousel-control-next {
		display: none;
	}
	.display-4 {
		font-size: 160%;
	}
	.card {
		height: auto;
	}
	.social a {
		font-size: 2em;
		padding: .7rem;
	}
}
