@import url('https://fonts.googleapis.com/css?family=Ubuntu:700|Poppins:400,500,700');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}


/* Landing Page*/
.landing {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(../images/landing.jpg) no-repeat;
	background-size: cover;
	display: table;
	top: 0;
}
.landing .inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-bottom: 10%;
}
.landing-text {
	font-family: 'Ubuntu', sans-serif;
	color: #f9f3f4;
	font-size: 420%;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.landing-btn {
	font-family: 'Poppins', sans-serif;
	color: #fbfff4;
	font-size: 150%;
	text-decoration: none;
	background-color: #2daa87;
	padding: 10px 15px;
	border-radius: 10px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	transition-duration: 0.5s;
}
.landing-btn:hover {
	background-color: #278067;
	border: 1px solid #278067;
	padding: 10px 15px;
	border-radius: 10px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}


/* Large Laptops/Desktops */
@media (min-width: 993px) {
	.landing .inner {
		padding-left: 50%;
	}
}

/* Laptops/Desktops */
@media (max-width: 992px) {
	.landing .inner {
		padding-left: 40%;
	}
}

/* Tables*/
@media (max-width: 768px) {
	.landing .inner {
		padding-left: 0%;
	}
	.landing-text {
		font-family: 'Open Sans', sans-serif;
		color: #f9f3f4;
		font-size: 380%;
		text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	}
	.landing-btn {
		font-family: 'Poppins', sans-serif;
		color: #eafad2;
		font-size: 150%;
		text-decoration: none;
		background-color: #2daa87;
		padding: 10px 15px;
		border-radius: 10px;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	}
}

/* Mobile */
@media (max-width: 576px) {
	.landing-text {
		font-family: 'Open Sans', sans-serif;
		color: #f9f3f4;
		font-size: 290%;
		text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	}
	.landing-btn {
		font-family: 'Poppins', sans-serif;
		color: #eafad2;
		font-size: 150%;
		text-decoration: none;
		background-color: #2daa87;
		padding: 10px 15px;
		border-radius: 10px;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	}
}